
<footer class="py-5 text-center text-body-secondary bg-body-tertiary">
    <p>Blog Application built by <a href="https://github.com/12lettername">Aryan Neogi</a></p>
    <p class="mb-0">
      <a href="#">Back to top</a>
    </p>
</footer>