
<div class="form-floating mb-3">
    <input maxlength="35" required value="<%= article.title %>" type="text" name="title" id="floatingTitle" class="form-control">
    <label for="floatingTitle">Title (Max: 35 characters)</label>
</div>

<div class="form-floating mb-3">
   <textarea required name="description" id="floatingDesc" class="form-control"><%= article.description %></textarea>
   <label for="floatingDesc">Description</label>
</div>


<a href="/" class="btn btn-outline-secondary mt-4"><i class='bx bx-left-arrow-alt'></i>Go Back</a>
<button type="submit" class="btn btn-outline-primary mt-4">Post</button>
